.red{
    color: red;
}

#tag-bar{
    height: 400px;
    width: 800px;
}

#position-bar{
    height: 400px;
    width: 800px;
}

#firm-bar{
    height: 400px;
    width: 800px;
}

#city-bar{
    height: 400px;
    width: 800px;
}

.tags-div{
    border-radius: 1px;
    border-style: solid;
    border-color: inherit;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-color: #3ca2ff;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 5px;

}

.firm-div{
    border-radius: 1px;
    border-style: solid;
    border-color: inherit;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-color: #d0112b;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 5px;
    height: 50px;

}

.position-div{
    border-radius: 1px;
    border-style: solid;
    border-color: inherit;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-color: #9e005d;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 5px;
    height: 60px;

}

.city-div{
    border-radius: 1px;
    border-style: solid;
    border-color: inherit;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-color: #f43900;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 5px;
    height: 60px;

}


#tags-list .tags-div:hover {
    background-color: #3ca2ff;
}

#tags-list p:hover{
    color: white;
}

#firm-list .firm-div:hover {
    background-color: #d0112b;
}

#firm-list p:hover{
    color: white;
}

#position-list .position-div:hover {
    background-color: #9e005d;
}

#position-list p:hover{
    color: white;
}

.position-div#position-list{
    color: white;
}

#city-list .city-div:hover {
    background-color: #f43900;
}

#city-list p:hover{
    color: white;
}

.tags-title{
    color: white;
    background-color: #3ca2ff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.firm-title{
    color: white;
    background-color: #d0112b;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.position-title{
    color: white;
    background-color: #9e005d;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.city-title{
    color: white;
    background-color: #f43900;
    border-radius: 4px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.black{
    color: black;
}

.margin-bottom{
    margin-bottom: 20px;
}

#timeline-item{
    height: 400px;
    width: 800px;
}

#mean-item{
    height: 350px;
    width: 350px;
}

#min-max-item{
    height: 350px;
    width: 350px;
}

#q-item{
    height: 400px;
    width: 800px;
}