.red{
    color: red;
}

#tag-bar{
    height: 400px;
    width: 800px;
}

#position-bar{
    height: 400px;
    width: 800px;
}

#firm-bar{
    height: 400px;
    width: 800px;
}

#city-bar{
    height: 400px;
    width: 800px;
}

.tags-div{
    border-radius: 1px;
    border-style: solid;
    border-color: inherit;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-color: #3ca2ff;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 5px;
    display: table;
    height: 20px;
    overflow: hidden;

}

.firm-div{
    border-radius: 1px;
    border-style: solid;
    border-color: inherit;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-color: #d0112b;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 5px;
    display: table;
    height: 60px;
    overflow: hidden;

}

.wrap-item-p{
    display: table-cell;
    vertical-align: middle;
}

.position-div{
    border-radius: 1px;
    border-style: solid;
    border-color: inherit;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-color: #9e005d;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 5px;
    display: table;
    height: 90px;
    overflow: hidden;

}

.city-div{
    border-radius: 1px;
    border-style: solid;
    border-color: inherit;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    border-bottom-color: #edc63b;
    border-left: none;
    border-right: none;
    border-top: none;
    margin-bottom: 5px;
    display: table;
    height: 60px;
    overflow: hidden;

}


#tags-list .tags-div:hover {
    background-color: #3ca2ff;
}

#tags-list p:hover{
    color: white;
}

#firm-list .firm-div:hover {
    background-color: #d0112b;
}

#firm-list p:hover{
    color: white;
}

#position-list .position-div:hover {
    background-color: #9e005d;
}

#position-list p:hover{
    color: white;
}

.position-div#position-list{
    color: white;
}

#city-list .city-div:hover {
    background-color: #edc63b;
}

#city-list p:hover{
    color: white;
}

.tags-title{
    color: white;
    background-color: #3ca2ff;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.firm-title{
    color: white;
    background-color: #d0112b;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.position-title{
    color: white;
    background-color: #9e005d;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.city-title{
    color: white;
    background-color: #edc63b;
    border-radius: 4px;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.timeline-title{
    color: white;
    background-color: #004c4a;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.trending-title{
    color: white;
    background-color: #b8f629;
    box-shadow: 0 1px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}


.black{
    color: black;
}

.margin-bottom{
    margin-bottom: 20px;
}

#timeline-item{
    height: 400px;
    width: 800px;
}

#timeline-all{
    height: 400px;
    width: 800px;
}

#mean-item{
    height: 350px;
    width: 350px;
}

#mean-all{
    height: 350px;
    width: 350px;
}

#min-max-item{
    height: 350px;
    width: 350px;
}

#min-max-all{
    height: 350px;
    width: 350px;
}

#q-item{
    height: 400px;
    width: 800px;
}

#q-all{
    height: 400px;
    width: 800px;
}

.thead-tags{
    background-color: #3ca2ff;
    color: white;
}

.thead-position{
    background-color: #9e005d;
    color: white;
}

.thead-firm{
    background-color: #d0112b;
    color: white;
}

.thead-city{
    background-color: #edc63b;
    color: white;
}

.compare-div{
    margin-top: 10px;

}

.modal-body{
    height:280px;
}

.timeline-compare{
    width: 800px;
    height: 600px;
}

@media (max-width: 480px) {
    #timeline-item{height: 350px; width:350px; margin-left: -12%;}
    #q-item{height: 350px; width:350px; margin-left: -12%;}
    #mean-item{height: 350px; width:350px; margin-left: -12%;}
    #min-max-item{height: 350px; width:350px; margin-left: -12%;}

    #timeline-all{height: 350px; width:350px; margin-left: -12%;}
    #q-all{height: 350px; width:350px; margin-left: -12%;}
    #mean-all{height: 350px; width:350px; margin-left: -12%;}
    #min-max-all{height: 350px; width:350px; margin-left: -12%;}

    #tag-bar{height: 350px; width:400px; margin-left: -20%;}
    #city-bar{height: 350px; width:400px; margin-left: -20%;}
    #position-bar{height: 350px; width:400px; margin-left: -20%;}
    #firm-bar{height: 350px; width:400px; margin-left: -20%;}

    .city-div{width: 100%;}
    .firm-div{width: 100%;}
    .position-div{width: 100%;}
    .tags-div{width: 100%;}
}

