<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    {% load staticfiles  %}

    {% include 'scripts.html' %}

</head>
<body>

    {% include 'navbar.html' %}

    <!-- Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Tech Job Market</h1>
                <h2>Ads today: {{ add_num }}</h2>
            </div>
        </div>
    </header>

    <div class="container">
        <hr class="featurette-divider">

        <div class="featurette" id="about">
            <div class="col-md-6">
                <h2 class="featurette-heading">This First Heading
                <span class="text-muted">Will Catch Your Eye</span>
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla
                    . Vestibulum id ligula porta felis euismod semper.
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>
            <div class="col-md-6">
                <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
            </div>
        </div>

        <hr class="featurette-divider">

        <div class="featurette" id="about">
            <div class="col-lg-6">
                <img class="featurette-image img-circle img-responsive pull-right" src="http://placehold.it/500x500">
            </div>
            <div class="col-lg-6">
                <h2 class="featurette-heading">This First Heading
                <span class="text-muted">Will Catch Your Eye</span>
                </h2>
                <p class="lead">Donec ullamcorper nulla non metus auctor fringilla
                    . Vestibulum id ligula porta felis euismod semper.
                    Praesent commodo cursus magna, vel scelerisque nisl consectetur. Fusce dapibus, tellus ac cursus commodo.</p>
            </div>

        </div>

    </div>

</body>
</html>