<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    {% load staticfiles  %}

    {% include 'scripts.html' %}

</head>
<body>

    {% include 'navbar.html' %}

    <!-- Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Tech Job Market</h1>
                <h2>Ads today: {{ add_num }}</h2>
            </div>
        </div>
    </header>

    <div class="container">
        <hr class="featurette-divider">

        <div class="featurette" id="about">
            <div class="col-md-12 text-center">
                <h2 class="featurette-heading ">This First Heading
                <span class="text-muted">Will Catch Your Eye</span>
                </h2>

            </div>
            <div class="col-md-10 col-md-offset-1" id="tag-bar">

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="featurette" id="about">
            <div class="col-md-10 col-md-offset-1" id="position-bar">

            </div>

            <div class="col-lg-12 text-center">
                <h2 class="featurette-heading">This First Heading
                <span class="text-muted">Will Catch Your Eye</span>
                </h2>

            </div>

        </div>


    </div>

    <script>
        var x_arr =[];
        var y_arr = [];
        {% for x in top_tags %}
            x_arr.push('{{x.id}}');
        {% endfor %}

        {% for y in top_tags %}
            y_arr.push('{{y.count}}');
        {% endfor %}
	TESTER = document.getElementById('tag-bar');
	Plotly.plot( TESTER, [{
	x: x_arr,
	y: y_arr, type:'bar' }], {
	margin: { t: 0 } } );

        var x1_arr =[];
        var y1_arr = [];
        {% for x in top_positions %}
            x1_arr.push('{{x.id}}');
            y1_arr.push('{{x.count}}');
        {% endfor %}

	TESTER = document.getElementById('position-bar');
	Plotly.plot( TESTER, [{
	x: x1_arr,
	y: y1_arr, type:'bar' }], {
	margin: { t: 0 } } );
	</script>

</body>
</html>