<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Title</title>

    {% load staticfiles  %}

    {% include 'scripts.html' %}

</head>
<body>

    {% include 'navbar.html' %}

    <!-- Header -->
    <header class="header-image">
        <div class="headline">
            <div class="container">
                <h1>Tech Job Market</h1>
                <h2>Ads today ({{ date }}): {{ add_num }}</h2>
            </div>
        </div>
    </header>

    <div class="container">
        <hr class="featurette-divider">

        <div class="featurette" id="about">

            <div class="col-md-10 col-md-offset-2 col-xs-offset-0" id="tag-bar">

            </div>
            <div class="col-md-12 text-center">
                <h2 class="featurette-heading ">Top 10
                <span class="text-muted">Tags of the Day</span>
                </h2>

            </div>
        </div>

        <hr class="featurette-divider">

        <div class="featurette" id="about">
            <div class="col-md-10 col-md-offset-2" id="position-bar">

            </div>

            <div class="col-lg-12 text-center">
                <h2 class="featurette-heading">Top 10
                <span class="text-muted">Jobs of the Day</span>
                </h2>

            </div>

        </div>

        <hr class="featurette-divider">

        <div class="featurette" id="about">
            <div class="col-md-10 col-md-offset-2" id="city-bar">

            </div>

            <div class="col-lg-12 text-center">
                <h2 class="featurette-heading">Top 5
                <span class="text-muted">Locations of the Day</span>
                </h2>

            </div>

        </div>

        <hr class="featurette-divider">

        <div class="featurette" id="about">
            <div class="col-md-10 col-md-offset-2" id="firm-bar">

            </div>

            <div class="col-lg-12 text-center">
                <h2 class="featurette-heading">Top 10
                <span class="text-muted">Companies of the Day</span>
                </h2>

            </div>

        </div>


    </div>

    <script>

        var x_arr =[];
        var y_arr = [];

        {% for x in top_tags %}
            x_arr.push('{{x.id}}');
            y_arr.push('{{x.count}}');
        {% endfor %}


        var data = [{
            x: x_arr,
            y: y_arr,
            type: 'bar',
            orientation: 'v',
            marker: {

                opacity: 0.6,
                line: {
                  color: 'rbg(8,48,107)',
                  width: 1.5
            }
            }
        }]

        Plotly.newPlot('tag-bar', data);

        var x1_arr =[];
        var y1_arr = [];
        {% for x in top_positions %}
            x1_arr.push('{{x.id}}');
            y1_arr.push('{{x.count}}');
        {% endfor %}

        var data = [{
            x: x1_arr,
            y: y1_arr,
            type: 'bar',
            orientation: 'v',
            marker: {
                color: 'rgb(118, 180, 90)',
                opacity: 0.6,
                line: {
                  color: 'rbg(8,48,107)',
                  width: 1.5
            }
            }
        }]

        Plotly.newPlot('position-bar', data);

        var x1_arr =[];
        var y1_arr = [];
        {% for x in top_cities %}
            x1_arr.push('{{x.id}}');
            y1_arr.push('{{x.count}}');
        {% endfor %}

        var data = [{
            x: x1_arr,
            y: y1_arr,
            type: 'bar',
            orientation: 'v',
            marker: {
                opacity: 0.6,
                line: {
                  color: 'rbg(8,48,107)',
                  width: 1.5
            }
            }
        }]

        Plotly.newPlot('city-bar', data);

    var x1_arr =[];
        var y1_arr = [];
        {% for x in top_firms %}
            x1_arr.push('{{x.id}}');
            y1_arr.push('{{x.count}}');
        {% endfor %}

        var data = [{
            x: x1_arr,
            y: y1_arr,
            type: 'bar',
            orientation: 'v',
            marker: {
                color: 'rgb(118, 180, 90)',
                opacity: 0.6,
                line: {
                  color: 'rbg(8,48,107)',
                  width: 1.5
            }
            }
        }]

        Plotly.newPlot('firm-bar', data);
	</script>

</body>
</html>