<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{{ title }}</title>

    {% load staticfiles %}

    {% include "scripts.html" %}
</head>
<body>
    {% include "navbar.html" %}

    <div class="container">

        <div class="row margin-bottom">
            <div class="col-md-10 col-md-offset-1  text-center ">
                <h1 class="{{ headline_css }}">All {{ title }}</h1>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <form role="form" action="" method="GET">
                    <div class="form-group col-md-6 col-md-offset-2">
                        <input type="text" name="filter" value="{{ request.GET.filter }}" class="form-control " placeholder="Filter by word ie:  java, belgrade..">
                    </div>
                    <div class="form-group col-md-3" >
                        <input type="submit" class="form-control btn btn-success" role="button" value="Filter">
                    </div>
                </form>
            </div>
        </div>




        <hr class="featurette-divider-small">

        <div class="row" id="{{ list_css }}">
            {% for item in item_list %}
                <a href="/item/{{ slug }}/{{ item.id }}/"><div class="col-md-offset-1 col-md-2 {{ div_css }}">
                    <div class="wrap-item-p">
                        <p class="text-center black">{{ item.name }}</p>
                    </div>

                </div></a>
            {% endfor %}
        </div>
    </div>
</body>
</html>