<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

    {% load staticfiles %}

    {% include "scripts.html" %}
</head>
<body>
    {% include "navbar.html" %}

    <div class="container">

        <div class="row margin-bottom">
            <div class="col-md-10 col-md-offset-1  text-center ">
                <h1 class="tags-title">ALL TAGS</h1>
            </div>
        </div>

        <div class="row">
            <div class="form-group">
                <form role="form" action="" method="GET">
                    <div class="form-group col-md-6 col-md-offset-2">
                        <input type="text" name="filter" value="{{ request.GET.q }}" class="form-control " placeholder="Filter by tag: ie. java, python..">
                    </div>
                    <div class="form-group col-md-3" >
                        <input type="submit" class="form-control btn btn-success" role="button" value="Filter">
                    </div>
                </form>
            </div>
        </div>

    


        <hr class="featurette-divider-small">

        <div class="row" id="tag-list">
            {% for tag in tags %}
                <a href="#"><div class="col-md-offset-1 col-md-2 tag-div">
                    <p class="text-center black">{{ tag }}</p>
                </div></a>
            {% endfor %}
        </div>
    </div>
</body>
</html>